.menu-card {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 90px;
    margin-top: 20px;
}

.menu-card div {

    border-radius: 10px;
    border: 2px solid black;
    height: 150px;
    width: 150px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 0px 11px 0px rgba(30, 24, 24, 1);
    -webkit-box-shadow: 1px 0px 11px 0px rgba(30, 24, 24, 1);
    -moz-box-shadow: 1px 0px 11px 0px rgba(30, 24, 24, 1);
    transition: 0.3s;
    color: white;
    font-size: 18px;
}

.menu-card div:hover {
    scale: 1.1;

}

.menu-card p {
    margin: 0;
    margin-left: 5px;
}
.person-header i {
    font-size: 20px;
    color: white;
}
.header-menu-icon{
    width: 40px;
    height: 40px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgba(54, 54, 54, 0.142);
    border: 1px solid black;
}