.card-collection{
    display: grid;
    /* grid-template-columns: repeat(auto-fill,minmax(300px,1fr)); */
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
}
.card-box{
    justify-content: space-between;
}